/*
Default settings
*/
.card {
  padding: 1rem;
}

.card--small {
  width: 300px;
  height: auto;
}

.card--medium {
  width: 400px;
  height: auto
}

.card--large {
  width: 600px;
}

.card--extra-large {
  width: 800px;
}

.card--default {
  border: 1px solid oklch(0 0 90 / .25); 
}

/*
Card with shadows
*/
.card--shadow {
    box-shadow: 3px 5px 2px 1px oklch(0 0 90 / .25);
}

/*
Component styles
*/
.card--title {
  h2 {
    font-weight: 300;
    text-transform: uppercase;
  }
}
.card--image {
  width: 100%;
}

.card--image-avatar {
  border-radius: 50%;
}

.card--body {
  font-weight: 400;
}

.card--footer {
  background: oklch(0 0 90);
  padding-inline: 0;

  p {
    color: oklch(1 0 90);
  }
}
